@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
button{
    min-width: 100px;
    height: 50px;
    /* background-color: #ff0000; */
    border:2px solid #fff;
    border-radius: 5px;
    /* border: none; */
    outline: none;
    box-shadow: none;
    margin-top: 10px;
    cursor:pointer;
    background-color: red;
    color:#fff;
    font-family: 'Poppins', sans-serif;
  }